// Variables

@import "variables/variables.scss";

// ================================

#logo-principal {
    width: $ancho-logo;
}

body {
    font-family: 'Raleway', sans-serif;
    h1 {
        font-family: 'Righteous', cursive;
        text-align: center;
        margin: 2rem 0 2rem 0;
    }
    h3 {
        font-size: 1em;
        font-weight: 700;
    }
}

.btn-principal {
    color: white;
    background-color: $color-main;
    border-color: $color-main;
}

.btn-wpp {
    color: rgb(255, 255, 255);
    background-color: $color-main;
    border-color: $color-main;
}

/* transiciones hover nav */
.nav-lista li a {
    color: $color-main;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 0px;
    position: relative;
}
.nav-lista li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $color-main;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}
.nav-lista li a:hover:after { 
    width: 100%; 
    left: 0;
}

.navbar {

}
/* ======================= */

.nav-link {
    padding: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    }

.nav-item {
    margin: 0 10px;
}

/* main background */
.main-con-fondo {
    background-color: $color-main;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(360,683,328)'%3E%3Cstop offset='0' stop-color='%2361B770'/%3E%3Cstop offset='1' stop-color='%23A7C256'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='659' height='549.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
/* ==================== */

#logo-alt {
    width: $logo-footer;
}

.logo-rrss-footer {
    width: $logo-footer;
}

#contenedor-footer {
    margin-left: 0;
    margin-right: 0;
}

.iconos-servicios {
    width: 32px;
}

@mixin tamaño-portfolio($alto, $ancho) {
    height: $alto;
    width: $ancho;
    padding: $alto/10;
}

.portfolio {
    @include tamaño-portfolio(400px, 400px);
}



.card {
    border: none !important;
}

.circulo-datos {
    
}
// Estilos Inicio
#seccion-header-inicio {
    padding: 1rem;
    margin: 1rem;
    #header-inicio {
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-flow: row-reverse wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
        #img-header-inicio {
            padding: 1rem;
            width: 50%;
        }
        #header-inicio-texto {
            padding: 1rem;
            width: 50%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            h1 {
                font-size: 3em;
                font-weight: bold;
                text-align: center;
            }
            p {
                text-align: center;
                font-size: 2em;
            }
        }
        #btn-header-inicio {

        }
    }
}

// Tarjetas inicio

#inicio-tarjetas {
    padding-right: 4rem;
    padding-left: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.tarjeta-inicio {
    font-size: 1.1em;
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    div {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        a {
            width: 50%;
            button {
                width: 100%;
            }
        }
    }
    .img-tarjeta {
        width: 100%;
        border-radius: 5px;
    }
    .titulo-tarjeta {
        font-size: 1.2em;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .lista-tarjeta {
        list-style-type: none;
        padding-left: 0;
        li {
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.144);
        }
    }
}


.cuerpo-tarjeta {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

#importante-inicio {
    font-size: 1.1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem 1,5rem;
    h2 {
        margin-top: 2rem;
        text-align: center;
        padding: 2rem 4rem 0 4rem;
    }
    p {
        ;
        margin-bottom: 2rem;
        text-align: center;
        width: 75%;
        padding: 1rem 4rem;
    }
}

#importante-seccion {
    padding: 0 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    img {
        width: 50%;
    }
    ul {
        padding-left: 0;
        width: 50%;
        border-radius: 5px;
        li {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 1rem;
            list-style-type: none;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.281);
            p {
                margin: 0;
                padding: 1em;
            }
        }
    }
}

#datos-inicio {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0 3rem;
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }
    #contenedor-circulos {
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        .tarjeta-datos {
            width: 30%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: flex-start;
            .circulo-datos {
                width: 150px;
            height: 150px;
            background-color: $color-main;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%2360b95f' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%236fbb5d' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2380be5a' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2393c058' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23A7C256' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23a7c256' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23a7c256' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23a7c256' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23a7c256' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23A7C256' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
            background-attachment: fixed;
            background-size: cover;
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
            border: none;
            border-radius: 50%;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            p {
                padding: 1rem;
            }
        }
    }
}

#elegirnos-inicio {
    font-size: 1.1em;
    h2 {
        text-align: center;
    }
    div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 0 3rem;
        img {
            width: 40%;
            max-width: 100%;
            height: auto;
        }
        ul {
            list-style-type: none;
            width: 50%;
            li {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.144);
            }
        }
    }
    #botones-elegirnos {
        margin-top: 30px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        button {
            width: 100% !important;
        }
}
}    

#seccion-servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 5rem 0 5rem;
    .tarjeta-servicios {
        display: flex;
        flex-flow: column wrap;
        width: 18rem;
        margin: 0;
        justify-content: space-between;
        img {
            width: 18rem;
            border-radius: 5px;
            margin-bottom: 2rem;
        }
        div {
            margin: 1rem 0 1rem 0;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            h3 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5rem 2rem 3rem 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.178);
    margin-top: 3rem;
    div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        img {
            width: 32px;
            height: 32px;
            margin-left: 5px;
            margin-right: 5px;
        }
        p {
            margin: 0;
        }
    }
}

#potfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-template-rows: repeat(2, 20rem);
}

#nosotros-header {
    margin: 0 3rem 4rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    h1 {
        font-weight: bold;
        margin: 2rem 0;
    }
    div {
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
        p {
            width: 80%;
            margin: 2rem 0 0 0;
            text-align: center;
            font-size: 1.2em;
        }
        a {
            margin: 3.5rem 0;
        }
    }
}

#nosotros-img {
    display: flex;
    justify-content: center;
    img {
        width: 50%;
    }
}

#nosotros-perfiles {
    display: flex;
    flex-flow: row wrap;
    margin: 4rem 2rem;
    div {
        width: 50%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        img {
            width: 50%;
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }
        h2 {
            margin: 2rem 0 1rem 0;
            text-align: center;
            font-size: 1.5em;
            font-weight: 400;
            
        }
        p {
            margin: 0.5rem 0;
            text-align: center;
        }
    }
}

#nosotros-valores {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    h2 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        columns: 20rem 2;
        column-gap: 40px;
        padding: 0;
        margin: 2rem 1rem;
        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.171);
            font-size: 1.2em;
            font-weight: 400;
            margin: 1rem 0;
        }
    }
}

#portfolio-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
        width: 60%;
    }
    a {
        margin-top: 2rem;
    }

}

// Media queries
@media screen and (max-width: 768px) {
    #seccion-servicios {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 0 3rem 0 3rem;
    }
    #rrss-contacto {
        padding-top: 0 !important;
        padding-bottom: 30px !important;
    }
    #formulario {
        margin-right: 50px !important;
        margin-left: 50px !important;
        width: 75% !important;
    }
    #seccion-header-inicio {
        margin: 0;

    }
    #header-inicio {
        margin: 0 !important;
        padding: 0,5rem !important;
        flex-flow: column !important;
        align-items: center;
    }
    #img-header-inicio {
        width: 100% !important;
        margin: 0,5rem;
        padding-top: 0;
    }
    #header-inicio-texto {
        width: 100% !important;
        h1 {
            font-size: 2em !important;
        }
        p {
            font-size: 1,5em;
        }
    }
    #inicio-tarjetas {
        flex-flow: column;
        align-items: center;
    }
    .tarjeta-inicio {
        width: 90%;
        padding-bottom: 3rem;
    }
    #importante-seccion {
        padding: 0 1rem;
        flex-flow: column;
        img, ul {
            width: 90%;
        }
        img {
            padding: 1rem 0;
        }
        ul {
            padding-top: 1rem;
        }
        ul li p {
            padding: 1rem 1rem;
        }
    }
    #contenedor-circulos {
        flex-flow: column !important;
        .tarjeta-datos {
            width: 100% !important;
        }
    }

    #importante-inicio {
        p {
            padding: 1rem 1rem;
        }
        h2 {
            padding-top: 0;
            margin-top: 1rem;
        }
    }
    
    #elegirnos-inicio {
        padding: 0;
        div {
            flex-flow: column;
            img {
                width: 100%;
            }
            ul {
                width: 100%;
            }
        }
        div ul li {
            text-align: center;
        }
        button {
            width: 50%!important;
        }
    }

    #nosotros-header {
        h1 {
            margin: 0;
        }
        div p {
            margin: 0;
        }
        h1, div {
            width: 100%;
        }
        div div {
    
        }
    }
    
    #nosotros-img img {
        width: 80%;
    }
    
    #nosotros-perfiles {
        flex-flow: column;
        div {
            width: 100%;
        }
    }

    #nosotros-valores {
        ul {
            width: 80%;
            li {
                text-align: center;
            }
        }
    }
    
}
// ==============================